# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=B2FAF393-1FB8-44BF-BB96-80CCCC3EC345

# @tiess:registry=https://gitlab.com/api/v4/packages/npm/
# @rooditdev:registry=https://gitlab.com/api/v4/packages/npm/
# //gitlab.com/api/v4/packages/npm/:_authToken=B9gxBQ9UhKQJw13pzi9c
# //gitlab.com/api/v4/projects/:_authToken=B9gxBQ9UhKQJw13pzi9c
