<div class="listing listing-row">
	<div class="listing__reviews-conteiner">
		<div class="listing__reviews">
			<div class="listing__reviews-title">
				<h2 class="title">Reviews</h2>
			</div>

			<div class="listing__reviews-elements">
				<div class="listing__reviews-element">
					<div class="listing__reviews-element-1">
						<span class="sub-title">Meeting room. 28 m<sup>2</sup></span>
						<p class="reviews-text-1">Amsterdam, Noord-Holland, Netherlands</p>
						<p class="reviews-text-2">Great room! Stayed for two weeks and never regretted it.
							Infrastructure,
							accessibility - everything is more than excellent. I recommend!</p>
					</div>
					<div class="listing__reviews-element-2">
						<div>
							<span class="star-title reviews-text-1">Overall satisfaction</span>
							<app-listing-rating [ratingWidth]="100"></app-listing-rating>
						</div>

						<p class="data">23.02.2021</p>
					</div>
				</div>
				<div class="listing__reviews-element">
					<div class="listing__reviews-element-1">
						<span class="sub-title">Meeting room. 28 m<sup>2</sup></span>
						<p class="reviews-text-1">Amsterdam, Noord-Holland, Netherlands</p>
						<p class="reviews-text-2">Great room! Stayed for two weeks and never regretted it.
							Infrastructure,
							accessibility - everything is more than excellent. I recommend!</p>
					</div>
					<div class="listing__reviews-element-2">
						<div>
							<span class="star-title reviews-text-1">Overall satisfaction</span>
							<app-listing-rating [ratingWidth]="90"></app-listing-rating>
						</div>

						<p class="data">23.02.2021</p>
					</div>
				</div>
				<div class="listing__reviews-element">
					<div class="listing__reviews-element-1">
						<span class="sub-title">Meeting room. 28 m<sup>2</sup></span>
						<p class="reviews-text-1">Amsterdam, Noord-Holland, Netherlands</p>
						<p class="reviews-text-2">Great room! Stayed for two weeks and never regretted it.
							Infrastructure,
							accessibility - everything is more than excellent. I recommend!</p>
					</div>
					<div class="listing__reviews-element-2">
						<div>
							<span class="star-title reviews-text-1">Overall satisfaction</span>
							<app-listing-rating [ratingWidth]="70"></app-listing-rating>
						</div>

						<p class="data">23.02.2021</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
