<div class="listing-page">
	<div class="listing-page__header listing-row">
		<div class="back">
			<i class="icon-chervon"></i>
			<span class="hidden-mobile">Back to Colleagues</span>
			<span class="hidden-desktop">Back to List</span>
		</div>
	</div>
	<div class="listing-page__gallery-section">
		<app-listing-gallery-section></app-listing-gallery-section>
	</div>
	<div class="listing-page__deskription-section">
		<app-listing-deskprition-section></app-listing-deskprition-section>
	</div>
	<div class="listing-page__calendar-section">
		<app-listing-calendar-section></app-listing-calendar-section>
	</div>
	<div class="listing-page__location-section">
		<app-listing-location-section></app-listing-location-section>
	</div>
	<div class="listing-page__reviews-section">
		<app-listing-reviews-section></app-listing-reviews-section>
	</div>
	<div class="listing-page__owner-section">
		<app-listing-owner-section></app-listing-owner-section>
	</div>
	<div class="listing-page__viewed-section">
		<app-listing-viewed-section></app-listing-viewed-section>
	</div>
</div>
