@import './mixins';
@import './grid';
@import './vars';

@include grid($blockSpacing, $breakpoints);

.flex-row {
	// &.equals {
	// 	@include flex-equal-cols();
	// }

	// &.small-gap {
	// 	@include flex-gap(12px);
	// 	@include flex-all-cols(12px);
	// }

	// &.no-gap {
	// 	@include flex-gap(0px);
	// 	@include flex-all-cols(0px);
	// }

	&.align-center {
		align-items: center;
	}

	&.align-stretch {
		align-items: stretch;
	}

	&.justify-space-between {
		justify-content: space-between;
	}

	&.justify-center {
		justify-content: center;
	}

	.limit-height {
		height: 0;
		overflow: visible;
	}
}

.hide {
	@include __breakpoints-all() {
		display: none !important;
	}
}

// .hidden-COMPARATOR-BREAKPOINT
.show {
	@include __breakpoints-all-inv() {
		display: none !important;
	}
}
