<div class="listing listing-row">
	<div class="listing__owner-conteiner">
		<div class="listing__owner">
			<div class="listing__owner-title">
				<h2 class="title">Owner</h2>
			</div>

			<div class="listing__owner-elements">
				<div class="listing__owner-element-image">
					<img src="../../../../../assets/1 51.png" alt="">
				</div>
				<div class="listing__owner-deskription">
					<!-- <div> -->
					<h1 class="name">Marina Datsenko</h1>
					<p class="email ">marina.datsenko@gmail.com</p>

					<a class="other-owners">Other owner’s objects (12)</a>

					<div class="listing__owner-chat">
						<div class="chat-icon">
							<div class="btn-circle">
								<fa-icon [icon]="iconServ.faCommentAlt" class="icon"></fa-icon>
							</div>
						</div>
						<span>Chat with Marina</span>
					</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</div>
