<footer class="site-footer">
	<div class="site-footer__information hidden-mobile listing-row">
		<div class="site-footer__bottom-widgets">
			<div class="logo">
				<img src="assets/logo.png" />
			</div>
			<ul class="default-links links">
				<li *ngFor="let menu of footerMenu">
					<h3 class="title">{{menu}}</h3>
				</li>
			</ul>
		</div>
		<div class="site-footer__bottom-widgets">
			<h1 class="site-footer__title">Contact us</h1>
			<ul class="default-links contact-us">
				<li>
					<h3 class="title">Office</h3>
					<p class="subtitle ">office@roodit.com</p>
				</li>
				<li>
					<h3 class="title">Mail Support</h3>
					<p class="subtitle ">support@roodit.com</p>
				</li>
				<li>
					<h3 class="title">Press Contact</h3>
					<p class="subtitle ">marketing@roodit.com</p>
				</li>
			</ul>
		</div>
		<div class="site-footer__bottom-widgets">
			<h1 class="site-footer__title">Download App</h1>
			<ul class="default-links apps">
				<li>
					<div class="icon-app">
						<img src="assets/images/icons/app-store.png" />
					</div>
				</li>
				<li>
					<div class="icon-app">
						<img src="assets/images/icons/google-play.png" />
					</div>
				</li>
			</ul>
		</div>
		<div class="site-footer__bottom-widgets">
			<h1 class="site-footer__title">Follow us on:</h1>
			<ul class="social-links">
				<li>
					<div class="icon-social">
						<img src="assets/images/icons/icon-facebook.svg" />
					</div>
				</li>
				<li>
					<div class="icon-social">
						<img src="assets/images/icons/icon-twitter.svg" />
					</div>
				</li>
				<li>
					<div class="icon-social">
						<img src="assets/images/icons/icon-instagram.svg" />
					</div>
				</li>
				<li>
					<div class="icon-social">
						<img src="assets/images/icons/icon-linkedin.svg" />
					</div>
				</li>
			</ul>
		</div>
	</div>



	<div class="site-footer__information hidden-desktop listing-row">
		<div class="site-footer__bottom-widgets">
			<div class="logo">
				<img src="assets/logo.png" />
			</div>
			<ul class="default-links links">
				<li *ngFor="let menu of footerMenu">
					<h3 class="title">{{menu}}</h3>
				</li>
			</ul>
		</div>

		<div class="site-footer__contacts">
			<div class="site-footer__bottom-widgets">
				<h1 class="site-footer__title">Contact us</h1>
				<ul class="default-links contact-us">
					<li>
						<h3 class="title">Office</h3>
						<p class="subtitle ">office@roodit.com</p>
					</li>
					<li>
						<h3 class="title">Mail Support</h3>
						<p class="subtitle ">support@roodit.com</p>
					</li>
					<li>
						<h3 class="title">Press Contact</h3>
						<p class="subtitle ">marketing@roodit.com</p>
					</li>
				</ul>
			</div>

			<div class="site-footer__bottom-widgets">
				<h1 class="site-footer__title">Follow us on:</h1>
				<ul class="social-links">
					<li>
						<div class="icon-social">
							<img src="assets/images/icons/icon-facebook.svg" />
						</div>
					</li>
					<li>
						<div class="icon-social">
							<img src="assets/images/icons/icon-twitter.svg" />
						</div>
					</li>
					<li>
						<div class="icon-social">
							<img src="assets/images/icons/icon-instagram.svg" />
						</div>
					</li>
					<li>
						<div class="icon-social">
							<img src="assets/images/icons/icon-linkedin.svg" />
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="site-footer__bottom-widgets">
			<h1 class="site-footer__title">Download App</h1>
			<ul class="default-links apps">
				<li>
					<div class="icon-app">
						<img src="assets/images/icons/app-store.png" />
					</div>
				</li>
				<li>
					<div class="icon-app">
						<img src="assets/images/icons/google-play.png" />
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="site-footer__site-information listing-row">
		<h2>roodit © Copyright 2021. All Rights Reserved</h2>
	</div>
</footer>
