<div class="listing listing-row">
	<div class="listing__location-conteiner">
		<div class="listing__location">
			<div class="listing__location-row-1">
				<div class="listing__location-title">
					<h2 class="title">Location</h2>
				</div>
				<div class="listing__location-map">
					<img src="../../../../../assets/images/Rectangle 5208.png" alt="">
				</div>
			</div>
			<div class="listing__location-row-2">
				<div class="listing__location-furniture-list">
					<ul class="list">
						<li *ngFor="let item of furniture">
							{{item.name}} <span>{{item.text}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
